

*
{

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


html, body
{

    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    display: block;
    background-color: #f0f0f0;

}

.circle
{

    margin: 3rem auto;
    background-color: gold;
    width: 100px;
    height: 100px;
    border: 2px solid #000000;
    border-radius: 50px;

}


